{% extends 'base.html' %}
{% load static %}
{% load pwa %}



{% block content %}


<div id="cuerpo">
    <div id="izquierda">
        <p class="titulo end">RESCATE</p>
        <p class="subtitulo end">ETAPA 1</p>
        <p class="linea end margen"></p>
        <p class="texto end" style="text-align: right;">Rescatamos perros en situación de peligro y/o abandono. Los
            rehabilitamos y los preparamos para buscarles
            un hogar.</p>
        <img class="rescate-crow end" src="static/img/rescate.jpg" alt="rescate">
    </div>
    <div id="derecha">
        <img class="rescate-crow" src="static/img/crowfunding.jpg" alt="Crowfunding">
        <p class="titulo">CROWFUNDING</p>
        <p class="subtitulo">FINANCIAMIENTO</p>
        <p class="linea margen"></p>
        <p class="texto">Sigue nuestras redes sociales para informarte a cerca de nuestras diversas campañas y
            actividades que
            realizamos para obtener financiamiento y seguir ayudando.</p>
        <button class="boton">CAMPAÑAS</button>
    </div>
</div>


<section id="photos">
    <img id="costado" src="static/img/rescatados/Oso.jpg">
    <img id="costado" src="static/img/rescatados/Maya.jpg">
    <img id="costado" src="static/img/rescatados/Wifi.jpg">
    <img src="static/img/rescatados/Chocolate.jpg">
    <img src="static/img/rescatados/Pexel.jpg">
    <img src="static/img/rescatados/Bigotes.jpg">
    <img src="static/img/rescatados/Luna.jpg">

</section>

</div>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/serviceworker.js', { scope: '/' })
            .then(function (registration) {
                console.log('Service Worker Registered');
            });

        navigator.serviceWorker.ready.then(function (registration) {
            console.log('Service Worker Ready');
        });
    }
</script>

{% endblock %}

<!--formulario contacto-->